html{scroll-behavior: smooth;
    overflow-x: hidden;
}

body{

    margin:0;
    padding:0;
    width: 100%;
} 

.navbar {
    background-color: #000000;
    height: 80px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    
}
.navbar h1{
    color: aliceblue;
    padding-left: 20px;
    margin: 20px 0px 0px 0px;
}
.test {
    position: relative;
    width: 100%;
    background-position: center; 
    z-index: 3;
    margin-top: 80px;
    
}

.button-1 a{
    background-color:black;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    margin-top: 50px;
    transition: .4s ease;
    font-family:monospace;
    display: block;
    text-align: center;
    text-decoration: none;
}
.button-1 a:hover{
    background: #e8e8e8;  
    
}

.img {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.about-me {
    position: relative;
    z-index: 5;
    padding: 70px 70px 70px 70px; 
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
.polban-img {
    width: 200px;
    margin-top: 0px;
}


#content1 {
    padding: 150px 0px 150px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.foto-diri {
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
}
.content1 {
    position: relative;
    z-index: 5;
    padding: 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
}
.content2{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;

}

.button-2 {
    align-self: center;
}

.button-2 a{
    background-color:black;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    transition: .4s ease;
    font-family:monospace;
    text-align: center;
    display: block;
    text-decoration: none;
}
.button-2 a:hover{
    background: #e8e8e8;  
    
}
#content2 {
    padding: 150px 0px 100px 0px; 
    background: rgb(255, 255, 255);
    position: relative;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    display:flex;
}

 

.table{
    display: flex;
    gap: 100px;
    justify-content: center;
    border-collapse: collapse;
    background-color: #ffffff;
}
.table tr:nth-child(even) {
  background-color: #e6e5e8;
}
.table-education{
        
}
tr{
    padding: 5px;
}
th{
    background-color: #000000;
    padding: 15px;
    color: #e8e8e8;
    border-radius:10px ;
}
tr{

}
.table-prestasi{
    
}
@media (max-width: 768px) {
  .table {
    flex-direction: column; 
    align-items: center;
    gap: 30px;
    padding: 0 10px;
  }

  table {
    width: 90%;
  }

  th {
    font-size: 16px;
  }

  td {
    font-size: 14px;
  }
}
#footer{
    width: 100%;
}

/* .content2-1{
    padding: 50px 200px 50px 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    align-content: center;
    gap: 150px;
     
}


.RP{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 10;
   padding: 10px 10px 10px 10px;
   flex: 1;
}
.KDK {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 10;
   padding: 10px;
   padding-bottom: 30px;
   flex: 1;
}
.isi{
    margin-top: 10px;
    display: flex;
    gap: 50px;
     position: relative;
}
.progres{

}
.progres {
    height: 15px;
    width: 100px;
    border-radius: 10px;
    animation: progres-animation 3s;
}
 @keyframes animation{
    0% {width: 0%;}
    10% {width: 50%;}
    
    
}
.java{
    padding: 3px;
    height: 10px;
    width: 150px;
    background: #e1dede;
    border-radius: 10px;
    animation: animation 2s ;
    display: flex;
}
.html{
    margin-top: 3px;
    padding: 3px;
    height: 10px;
    width: 150px;
    background: #e1dede;
    border-radius: 10px;
    animation: animation 2s ;
}
.css{
    margin-top: 3px;
    padding: 3px;
    height: 10px;
    width: 150px;
    background: #e1dede;
    border-radius: 10px;
    animation: animation 2s;
}
.progres-java{
    height: 10px;
    width:50px;
    background: #060606;
    border-radius: 10px;
    animation: animation 5s ;
}
.progres-html{
    height: 10px;
    width: 75px;
    background: #060606;
    border-radius: 10px;
    animation: animation 5s ;
}
.progres-css{
    height: 10px;
    width: 90px;
    background: #060606;
    border-radius: 10px;
    animation: animation 5s ;
}
.persentase-progres{
    padding-left: 50px;
} */

